.DS_Store
Project/WebUpload/client/node_modules
Project/WebUpload/.vscode
Project/WebUpload/server/__pycache__/
UIPrototype/Karaoke/.idea/
UIPrototype/Karaoke/.gradle/
Project/WebUpload/server/utils/rating/build
Project/WebUpload/server/utils/trimmer/trimmer
Project/WebUpload/server/utils/trimmer/trimmer.exe
Project/WebUpload/server/src/__pycache__/
Project/WebUpload/server/utils/chordTranslator/chordTranslator
Project/WebUpload/server/utils/chordTranslator/chordTranslator.exe
Project/WebUpload/server/.vscode
Project/WebUpload/server/utils/pretrained_models/
Project/WebUpload/server/config.py
Project/WebUpload/server/test/__pycache__/
Project/WebUpload/server/test/report/

