.DS_Store
FinalRelease/code/WebUpload/client/node_modules
FinalRelease/code/WebUpload/.vscode
FinalRelease/code/WebUpload/server/__pycache__/
UIPrototype/Karaoke/.idea/
UIPrototype/Karaoke/.gradle/
FinalRelease/code/WebUpload/server/utils/rating/build
FinalRelease/code/WebUpload/server/utils/trimmer/trimmer
FinalRelease/code/WebUpload/server/utils/trimmer/trimmer.exe
FinalRelease/code/WebUpload/server/src/__pycache__/
FinalRelease/code/WebUpload/server/utils/chordTranslator/chordTranslator
FinalRelease/code/WebUpload/server/utils/chordTranslator/chordTranslator.exe
FinalRelease/code/WebUpload/server/.vscode
FinalRelease/code/WebUpload/server/utils/pretrained_models/
FinalRelease/code/WebUpload/server/config.py
FinalRelease/code/WebUpload/server/test/__pycache__/
FinalRelease/code/WebUpload/server/test/report/

