.DS_Store
Project/WebUpload/client/node_modules
Project/WebUpload/.vscode
Project/WebUpload/client/.env
Project/WebUpload/server/config.py
Project/WebUpload/server/__pycache__/
UIPrototype/Karaoke/.idea/
UIPrototype/Karaoke/.gradle/
Project/WebUpload/server/pretrained_models
Project/WebUpload/server/rating/build